In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
pop_move_age = pd.read_csv('./data/시군구_연령별_이동자수(2019~2022)_3.csv', encoding='cp949')
pop_move_age.head()

   행정구역(시군구)별       연령별       2019       2020       2021       2022
0  행정구역(시군구)별       연령별  시도간전입 (명)  시도간전입 (명)  시도간전입 (명)  시도간전입 (명)
1          전국         계    2384948    2534114    2447234    2173605
2          전국    0 - 4세      97677      93752      77659      63267
3          전국    5 - 9세      75072      81107      72188      60184
4          전국  10 - 14세      55810      57945      53577      47929

In [10]:
pop_move_age.rename(columns={'행정구역(시군구)별' : '구별',
                            '전입(2019)' : '시도간전입(2019)',
                            '전입(2020)' : '시도간전입(2020)',
                            '전입(2021)' : '시도간전입(2021)',}, inplace=True)
# pop_move_age.drop(0, axis=0, inplace=True)

In [11]:
pop_move_age.head()

   구별       연령별 시도간전입(2019) 시도간전입(2020) 시도간전입(2021)     2022
1  전국         계     2384948     2534114     2447234  2173605
2  전국    0 - 4세       97677       93752       77659    63267
3  전국    5 - 9세       75072       81107       72188    60184
4  전국  10 - 14세       55810       57945       53577    47929
5  전국  15 - 19세      114029      105158       99392   100532

In [13]:
pop_chage_rate = pd.read_csv('./data/연령별_귀촌인_증감률(2019~2022).csv', encoding='cp949')
pop_chage_rate.head()

,연령별,2019,2019.1,2019.2,2020,2020.1,2020.2,2021,2021.1,2021.2,2022,2022.1,2022.2
0,연령별,귀촌인수 (명),귀촌인수 (명),귀촌인수 (명),귀촌인수 (명),귀촌인수 (명),귀촌인수 (명),귀촌인수 (명),귀촌인수 (명),귀촌인수 (명),귀촌인수 (명),귀촌인수 (명),귀촌인수 (명)
1,연령별,계,계,계,계,계,계,계,계,계,계,계,계
2,연령별,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률
3,계,444464,-28010,-5.9,477122,32658,7.3,495658,18536,3.9,421106,-74552,-15.0
4,0 - 29세,119542,-5730,-4.6,125627,6085,5.1,128944,3317,2.6,105896,-23048,-17.9

In [16]:
# pop_chage_rate.drop(0, axis=0, inplace=True)

In [19]:
# pop_chage_rate.drop(1, axis=0, inplace=True)

In [20]:
pop_chage_rate.head()

,연령별,2019,2019.1,2019.2,2020,2020.1,2020.2,2021,2021.1,2021.2,2022,2022.1,2022.2
2,연령별,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률
3,계,444464,-28010,-5.9,477122,32658,7.3,495658,18536,3.9,421106,-74552,-15.0
4,0 - 29세,119542,-5730,-4.6,125627,6085,5.1,128944,3317,2.6,105896,-23048,-17.9
5,30 - 39세,101144,-9894,-8.9,103285,2141,2.1,103118,-167,-0.2,85779,-17339,-16.8
6,40 - 49세,73035,-5465,-7.0,78384,5349,7.3,78835,451,0.6,64816,-14019,-17.8

In [30]:
pop_chage_rate

,연령별,2019,2019.1,2019.2,2020,2020.1,2020.2,2021,2021.1,2021.2,2022,2022.1,2022.2
0,연령별,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률
1,계,444464,-28010,-5.9,477122,32658,7.3,495658,18536,3.9,421106,-74552,-15.0
2,0 - 29세,119542,-5730,-4.6,125627,6085,5.1,128944,3317,2.6,105896,-23048,-17.9
3,30 - 39세,101144,-9894,-8.9,103285,2141,2.1,103118,-167,-0.2,85779,-17339,-16.8
4,40 - 49세,73035,-5465,-7.0,78384,5349,7.3,78835,451,0.6,64816,-14019,-17.8
5,50 - 59세,74794,-3628,-4.6,79980,5186,6.9,83594,3614,4.5,73188,-10406,-12.4
6,60 - 69세,47964,-1459,-3.0,57325,9361,19.5,66391,9066,15.8,61213,-5178,-7.8
7,70세 이상,27985,-1834,-6.2,32521,4536,16.2,34776,2255,6.9,30214,-4562,-13.1